
body, html {
    height: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 0; /* Изменено с 20px на 0 для устранения отступов */
    box-sizing: border-box;
    background-image: url('https://static4.depositphotos.com/1004866/322/i/450/depositphotos_3225866-stock-photo-enchanted-spring-forest.jpg');
    background-size: cover; /* Растягивает изображение на весь экран */
    background-position: center;
    overflow: hidden;
}

.container {
    max-width: 60%; /* Уменьшаем ширину контейнера в два раза */
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    animation: moveUpDown 5s linear infinite;
    overflow-y: auto;
    transform: scale(0.7); /* Применяем масштабирование в два раза */
}

img {
    max-width: 60%; /* Уменьшаем размер изображения в два раза */
    height: auto;
    margin-top: 20px;
    animation: workerMove 3s ease-in-out infinite;
}

@keyframes workerMove {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
}
a {
    display: block; /* Делаем ссылку блочным элементом */
    text-align: center; /* Центрируем текст внутри ссылки */
    font-size: 18px; /* Пример размера шрифта */
    margin-top: 20px; /* Пример отступа сверху */
}

h1 {
    
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    animation: workerMove 10s ease-in-out infinite; /* Анимация движения рабочего */
}

@keyframes workerMove {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }
}
